extends layout

block content
  .container
      .header
          ul.nav.nav-pills.pull-right
              li.active
                  a(href='#') Home
              li
                  a(href='#') About
          h3.text-muted Garage Door Detector
      .jumbotron
          h1#textDisplay Status

      .footer.text-center
          p &copy; 2014 Garage Door Detector